.header__icon img {
  width: 15rem;
}
.header {
  width: 100%;
  border-bottom: 2px solid grey;
}

.container {
  margin: 0 auto;
}
.hero_content div p {
  margin: 2rem 0;
}

/* article styles */
.author__image {
  width: 3rem;
}
.active {
  border-bottom: 2px solid blue;
}
.flex__heart {
  display: flex;
  align-items: center;
}
.paragraph {
  margin-left: 1rem;
}
button:focus {
  outline: none;
}
a:hover,
a {
  text-decoration: none !important;
}
.para {
  margin-top: 2rem;
}
/* Loader styles */
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
/* article styles */
.like__image img {
  width: 1.5rem;
  color: #bfdbfe;
}
/* tags component styles */
.flex__articles {
  display: flex;
  justify-content: space-around;
}
.allTags {
  flex: 0 1 30%;
  margin-top: 10rem;
}
.allTags div {
  margin: 0.2rem;
}
.articleSection {
  flex: 0 1 65%;
}
.flex__comment {
  display: flex;
  justify-content: space-between;
  width: 50rem;
}

.main__container {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* Not found styles */
.notFound {
  position: absolute;
  top: 40%;
  left: 40%;
}
/* .profile__card {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: -1;
} */
.comment__List,
.comment__form {
  width: 100%;
  max-width: 30rem;
  margin: 2rem auto;
}

.outer__div {
  text-align: center;
  margin-bottom: 1rem;
}
.your__articles {
  position: absolute;
  top: 70%;
  left: 0%;
}
/* style post */
.body_md {
  width: 70%;
}
textarea {
  width: 68%;
  margin: 1rem;
  height: 400px !important;
}
textarea::-webkit-scrollbar {
  width: 0 !important;
}
.custom-html-style::-webkit-scrollbar {
  width: 0 !important;
}
/* profile section */
.profile__section {
  display: flex;
  justify-content: center;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .display {
    display: block;
  }
  .hide {
    display: none;
  }
  .authHeader {
    width: 100%;
    height: 100vh;
    background: rgba(132, 173, 189, 0.897);
    position: fixed;

    top: -1rem;
    left: 0;
  }
  .navDiv {
    text-align: center;
    margin-top: 14rem;
    color: white !important;
  }
  .burger__menu {
    z-index: 999999;
    color: black;
  }
  .header__icon img {
    width: 100px !important;
  }
  .flex__articles {
    flex-direction: column;
  }
  .profile__card {
    margin: auto;
    margin-top: 2rem;
    position: unset;
  }
  .article {
    flex-direction: column;
  }
  .each-one {
    width: 40%;
    text-align: center;
    margin: auto;
  }
  .each-one img {
    margin: auto;
  }
  .active {
    border-bottom: none;
  }
}
